/*
=========================
aside
=========================
*/
#aside {
	background: #222;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 240px;
	padding: 0;
	box-shadow: 4px 0px 6px -1px #fff;
	z-index: 10;
	
	-webkit-animation: $slideR;
	-moz-animation: $slideR;
	-ms-animation: $slideR;
	-o-animation: $slideR;

	&.active {
		box-shadow: none;
	}
}

@-webkit-keyframes slideR {
	from {
		@include transform(translate(-250px, 0));
	}
	to {
		@include transform(translate(0, 0));
	}
}

@-moz-keyframes slideR {
	from {
		@include transform(translate(-250px, 0));
	}
	to {
		@include transform(translate(0, 0));
	}
}

@-ms-keyframes slideR {
	from {
		@include transform(translate(-250px, 0));
	}
	to {
		@include transform(translate(0, 0));
	}
}

@-o-keyframes slideR {
	from {
		@include transform(translate(-250px, 0));
	}
	to {
		@include transform(translate(0, 0));
	}
}


/*
=========================
article list
=========================
*/
#articles-list {
	background: #ee473f;
	position: fixed;
	bottom: 0;
	top: 0;
	left: -250px;
	width: 200px;
	box-shadow: 4px 0px 6px -1px #fff, inset 0px 7px 8px -1px rgba(0, 0, 0, 0.3);
	padding: 15px 0;
	overflow-y: scroll; 
	@include transition(all .2s ease);

	&.active { 
		left: 240px;
	}

	& li {
		margin: 0;
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);

		&:last-child {
			border: none;
		}
	}

	& a {
		display: block;
		padding: 10px;
		@include transition(all .2s ease);

		&:hover {
			background: rgba(0, 0, 0, 0.2);

			& .ui-tit-02, 
			& .ui-date { color: $fc-white; }
		}
	}
}

/*
=========================
content
=========================
*/
#content {
	margin: 36px 0 0 290px;
	padding: 0 20px 0 0;
	@include transition(all .1s ease);

	-webkit-animation: $slideB;
	-moz-animation: $slideB;
	-ms-animation: $slideB;
	-o-animation: $slideB;

	&.active {
		margin-left: 465px;
	}
}

@-webkit-keyframes slideB {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-moz-keyframes slideB {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-ms-keyframes slideB {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-o-keyframes slideB {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*
=========================
Disqus
=========================
*/
#disqus_thread {
	margin: 50px 0 0 0;
}