---
layout: default
comments: true
---

<article class="post">

    <h2 class="ui-tit-01">{{ page.title }}</h2>

    <span class="ui-date db">{{ page.date | date_to_string }}</span>

    <!-- <span class="category">Category: {{ page.categories | category_links }}</span> -->

	<div class="ui-copy">{{ content }}</div>

    <!-- <span class="meta"><small>By {{ site.author }} &copy; {{page.date | date: "%Y"}}</small></span> -->

            <div id="disqus_thread"></div>
		    <script type="text/javascript">
		        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		        var disqus_shortname = 'michaellancaster'; // required: replace example with your forum shortname

		        /* * * DON'T EDIT BELOW THIS LINE * * */
		        (function() {
		            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    </script>
		    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

</article>

